*.o
*.lo
*.la

# /
/Makefile
/Makefile.in
/configure
/config.log
/config.guess
/config.status
/config.sub
/compile
/ltmain.sh
/depcomp
/autom4te.cache
/missing
/aclocal.m4
/install-sh
/.libs
/.deps
/dim.spec
/libtool
/dim-*.tar.gz
/dim_send_command
/dim_bridge
/dim_get_service
/dim_did
/dim_check_dns
/dim-config
/dim_dns
/configure-remote
/.project
/.settings
/.cproject
/.autotools
/dim_check_servers

# /extra/
/extra/Makefile
/extra/Makefile.in
/extra/dim-config
/extra/dim-dns
/extra/dim.spec

# /ipkg/
/ipkg/control

# /linux/
/linux/libdim.a
/linux/libdim.so
/linux/libjdim.so
/linux/dns
/linux/dim_send_command
/linux/checkDns
/linux/pvss_dim_client
/linux/rpcClient
/linux/DimBridge
/linux/dim_get_service
/linux/did
/linux/test_server
/linux/testServer
/linux/benchServer
/linux/pvss_dim_server
/linux/rpcServer
/linux/test_client
/linux/benchClient
/linux/testClient
